body {
    background-color: darkslategrey;
}

#main-content {
    max-width: 759px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.col-md-12 {
    width: 100%;
    display: contents;
}

.col-md-6 {
    width: 100%;
}

.form-group {
    width: 100%;
}

.joinBtn {
    width: 56%;
    padding: 3%;
    margin: 0 auto;
    background: mediumturquoise;
}

.firstDiva {
    width: fit-content;
    margin: 0 auto 41px;
    display: grid;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: unset;
    font-size: 20px;
    text-align: center;
}