# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Zidane\Desktop\finalGame\gs-messaging-stomp-websocket-master (1)\gs-messaging-stomp-websocket-master\complete\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
